*{padding: 0;
margin: 0;
}

.slider-caption {
    text-align: left;
    width: 600px;
    padding-bottom: 90px;
    font-weight: 700;
}

.slider-image {
    height: 600px;
    width: 100%;
    object-fit: cover;
}

.slider-details {
    color:rgb(243, 159, 5);
}