*{padding: 0;
margin: 0;
}

:root {
    --my-large-font-wt:800;
}

/* ========slider style=====*/
.swiper-cover {
position: relative;
}

.swiper-cover::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0,0,10);
    background: linear-gradient(184deg, rgba(0,0,10,0.41222426470588236) 0%, rgba(0,11,13,1) 88%);
    z-index: 2;
}

.slide-image {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.slider-description-icon {
    display: flex;
    margin: 5px 0 10px 0;
    justify-content: center;
    align-items: center;
    
}

.info-box {
    position: absolute;
    width: 80%;
    bottom: 60px;
    left: 30px;
    font-weight: 500; 
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: left;
    z-index: 10;    
}

.info-box  h1{
   font-size: 1.5rem;
   text-align: center;
   font-weight: var(--my-large-font-wt);

}

.info-box p{
    display: none;
}

.slider-button {
    padding: 12px 17px;
    border-radius: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
}

.fa-regular{
font-size: 20px;
margin-right: 10px;
}


@media screen and (min-width: 992px) {
    .slide-image {
        width: 100%;
        height: 80vh;
        object-fit: cover;
    }

    .info-box {
    position: absolute;
    width: 50%;
    bottom: 140px;
    left: 70px;
    font-weight: 700;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: left;
}

.info-box  h1{
   font-size: 3rem;
   z-index: 5;
   text-align: left;
}

.slider-description-icon {
    justify-content: left;
}

.info-box p{
    display: block;
    z-index: 10;
}

.slider-button {
    padding: 12px 17px;
    border-radius: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
}
}

/* ========movie result page style=====*/
.movie-result-holder{
    position: relative;
}

.movie-page-image {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

.play-icon {
    font-size: 120px;
}

.play-icon:hover {
    color: aquamarine;
    transform: scale(1.2);
    transition: .2s ease-in-out;
    cursor: pointer;
}

/* ========home page style=====*/
.home-grid {
    display: grid;
    grid-template-columns: 1fr 400px;
}